
.button {
    background-color: var(--primary-color);
    padding: 8px 16px;

    border: 1px solid var(--primary-color);
    border-radius: 8px;

    color: white;
    font-weight: 500;
}

.button:hover {
    cursor: pointer;
    filter: brightness(0.75);
}

.secondary {
    background-color: #ffffff00;
    color: var(--primary-color);
}

