
body {
  --background-color: #EDEDED;
  --element-background: #FFFFFF;

  --primary-text-color: #1B1F23;
  --secondary-text-color: #ABABAB;

  --primary-color: #FF5500;

  color: var(--primary-text-color);
  background-color: var(--background-color);

  font-size: 14px;
}


#root {
  margin: 0 auto;
  text-align: center;
}