
.header {
    background-color: #333333;
    padding: 24px 32px;

    display: flex;
    gap: 16px;
    align-items: center;

    position: sticky;
    top: 0;
}

.header h1 {
    margin-right: auto;
    
    font-weight: 700;
    font-size: 32px;
    line-height: 37.5px;
    color: white;
}